{% extends 'base.html.twig' %}

{% block body_id 'jess_rooms' %}

{% block main %}
<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="assets/img/photo-title.jpg"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h5>LATEST NEWS</h5>
                <h1>Blog</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem. Morbi blandit orci urna, eu congue magna faucibus at. In bibendum in mauris nec ultrices. Nunc et magna velit.</p>
                <!-- Title End -->
                <!-- Breadcrumb -->
                <div class="widget-breadcrumb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li>BLOG</li>
                    </ul>
                </div>
                <!-- Breadcrumb End -->
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Blog -->
    <div class="section">
        <div class="wrapper-inner">
            <div class="row">
                <div class="col-md-9">
                    <!-- Blog List -->
                    <div class="widget-blog-list">
                        {% for post in posts %}
                        <div class="blog-item">
                            <div class="item-media">
                                <div class="media-photo">
                                    <a href="{{path('hotel_blog_post_view', {'id': post.id}) }}" data-background="assets/img/photo-blog-1.jpg"></a>
                                </div>
                            </div>
                            <div class="item-desc">
                                <h2><a href="{{path('hotel_blog_post_view', {'id': post.id}) }}">{{post.title}}</a></h2>
                                <h5>BY <a href="#"></a> <i class="fa fa-clock-o"></i> {{post.publishedAt|date('Y-m-d')}} <i class="fa fa-bars"></i> {% for key in post.postKeywords %} <a href="#">{{key.name}}</a>, {% endfor %}</h5>
                                <p>{{post.slug}}</p>
                            </div>
                        </div>
                            {% else %}
                                <div class="blog-item">
                            
                            <div class="item-desc">
                                <h2>No Post available</h2>
                                {#<h5>BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a></h5>
                                <p>Etiam interdum diam at posuere bibendum Vivamus malesuada lectus dolor a tincidunt massa rhoncus eu. estibulum dictum mauris eu mauris cursus...</p>#}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- Blog List End -->
                    <!-- Pager -->
                    <div class="widget-pager">
                        {{ knp_pagination_render(posts) }}
                    </div>
                    <!-- Pager End -->
                </div>
                <div class="col-md-3">
                    {% include 'hotel/blog-sidebar.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Section Blog End -->
</div>
<!-- Site Main End -->
{% endblock %}
