{% extends 'base.html.twig' %}

{% block body_id 'jess_rooms' %}

{% block main %}
<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="/assets/img/photo-title.jpg"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h5>EXPERIENCE THE FREEDOM</h5>
                <h1>Single Room</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem. Morbi blandit orci urna, eu congue magna faucibus at. In bibendum in mauris nec ultrices. Nunc et magna velit.</p>
                <!-- Title End -->
                <!-- Breadcrumb -->
                <div class="widget-breadcrumb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">PAGES</a></li>
                        <li><a href="#">ROOMS</a></li>
                        <li>{{ room.name }}</li>
                    </ul>
                </div>
                <!-- Breadcrumb End -->
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Rooms Detail -->
    <div class="section">
        <div class="wrapper-inner">
            <div class="widget-rooms-detail">
                <div class="widget-inner">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Room Slider -->
                            <div class="room-slider">
                                <div class="room-price">{{ room.price }}<small>PER NIGHT</small></div>
                                <div class="owl-carousel owl-theme owl-type1">
                                    {% for pic in room.pictures %}
                                    <a href="{{ pic }}" data-background="{{ pic }}" title="{{ room.name }}" class="popup-gallery"></a>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <!-- Room Slider End -->
                            <!-- Room Thumbnails -->
                            <div class="room-thumbnails">
                                <div class="owl-carousel">
                                    {% for pic in room.pictures %}
                                    <a href="#" data-background="{{ pic }}" title="{{ room.name }}"></a>                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Room Thumbnails End -->
                            <!-- Room Description -->
                            <div class="room-desc">
                                <h5>ROOM DESCRIPTION</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac scelerisque leo. Curabitur sed ornare orci. Nulla molestie pretium libero quis tincidunt. Nullam at arcu vitae felis dignissim lacinia. Integer vitae ipsum quis dolor convallis tristique. Donec lectus ex, posuere id felis et, commodo viverra felis. Morbi aliquet, mauris ornare bibendum elementum, lectus ante posuere lorem, eu condimentum odio nunc nec justo. Quisque vel sapien molestie, ultricies lectus iaculis, gravida sem. Nullam laoreet ipsum eget nunc auctor, vitae imperdiet dui eleifend. Sed molestie facilisis sollicitudin. Cras tincidunt vestibulum metus, sed posuere dui.</p>
                                <p>Vivamus pharetra tortor et congue gravida. Cras erat libero, malesuada in lorem vel, fringilla finibus diam. Morbi sollicitudin placerat placerat. Nullam euismod cursus mattis. Donec sit amet imperdiet sem, vel molestie purus. Duis blandit pharetra ligula ac sodales. Quisque velit massa, congue quis dignissim id, ornare sed arcu.Phasellus id velit iaculis, vulputate magna in, feugiat felis. Nulla eu ligula quis ante venenatis dapibus. Nulla ut congue est. Maecenas diam felis, volutpat vel orci quis, sodales malesuada lectus. Sed id feugiat turpis. Quisque ac turpis id nibh varius pellentesque vitae vitae lacus.</p>
                            </div>
                            <!-- Room Description End -->
                        </div>
                        <div class="col-md-4">
                            <!-- Room Booking -->
                            <div class="room-booking">
                                <h5>BOOKING</h5>
                                <h2>Book a Room</h2>
                                <div class="data-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input type="text" name="checkin" placeholder="CHECK IN" class="datepicker" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input type="text" name="checkout" placeholder="CHECK OUT" class="datepicker" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-caret-down"></i>
                                                <select name="adults" required>
                                                    <option value="">ADULTS</option>
                                                    <option value="1">1 ADULT</option>
                                                    <option value="2">2 ADULT</option>
                                                    <option value="3">3 ADULT</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-caret-down"></i>
                                                <select name="childrens" required>
                                                    <option value="">CHILDRENS</option>
                                                    <option value="1">1 CHILDREN</option>
                                                    <option value="2">2 CHILDREN</option>
                                                    <option value="3">3 CHILDREN</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn">BOOK NOW THIS ROOM</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Room Booking End -->
                            <!-- Room Features -->
                            <div class="room-features">
                                <h5>FEATURES</h5>
                                <h2>Room Features</h2>
                                <ul>
                                    {% for item in room.amenities %}
                                    <li><i class="fa fa-check"></i>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Room Features End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Rooms Detail End -->
</div>
<!-- Site Main End -->
{% endblock %}
